<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel">
            {{ $ctrl._regConta.params_nomenclatura_itens.itens }}
        </h5>
        <button type="button" class="btn-close" ng-click="$ctrl.fechar()" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <ol class="breadcrumb d-none d-lg-flex mb-4">
            <li class="breadcrumb-item">
                <i class="bi bi-geo-alt lh-1"></i>
                <a  class="text-decoration-none">{{ $ctrl._regConta.params_nomenclatura_itens.itens }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a  class="text-decoration-none text-info">
                    {{ $ctrl._editCategoria.descricao || 'Novo'}}
                </a>
            </li>
        </ol>

        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">

                        <!-- Tabs starts -->
                        <ul class="nav nav-pills mb-3 gap-1" id="categorias-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill active " id="categorias-a-tab"
                                    data-bs-toggle="pill" data-bs-target="#categorias-a" type="button" role="tab"
                                    aria-controls="categorias-a" aria-selected="true">Cadastro</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button ng-click="$ctrl.onCarregaNiveisPlanta('02')" class="nav-link rounded-pill"
                                    id="categorias-b-tab" data-bs-toggle="pill" data-bs-target="#categorias-b"
                                    type="button" role="tab" aria-controls="categorias-b"
                                    aria-selected="false">Associação</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" id="categorias-c-tab" data-bs-toggle="pill"
                                    data-bs-target="#categorias-c" type="button" role="tab" aria-controls="categorias-c"
                                    aria-selected="false"> {{ $ctrl._regConta.params_nomenclatura_itens.sku }}s</button>
                            </li>

                        </ul>
                        <div class="tab-content" id="categorias-tabContent">
                            <div class="tab-pane fade show active" id="categorias-a" role="tabpanel"
                                aria-labelledby="categorias-a-tab" tabindex="0">

                                <!-- Row start -->
                                <div class="row gx-3">
                                    <div class="col-xxl-6 col-sm-12">
                                        <div class="border rounded-2 p-3 mb-3">

                                            <!-- Row start -->
                                            <div class="row gx-3">
                                                <div class="col-xxl-2 col-sm-4">
                                                    <div class="mb-2">
                                                        <img src="{{ $ctrl._editCategoria._foto }}"
                                                            class="img-fluid rounded-3 border border-2 border-primary"
                                                            style="height: 120px;" alt="Admin Templates">
                                                    </div>
                                                    <button ng-click="$ctrl.onGetFoto()" type="button"
                                                        class="btn btn-primary">Carregar
                                                        Ícone</button>
                                                    <div class="form-text">
                                                        Máximo 1MB
                                                    </div>
                                                    <input type='file' id="imgLogo" style="display:none" />
                                                </div>
                                                <div class="col-xxl-10 col-sm-8">

                                                    <!-- Row start -->
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-sm-6">
                                                            <label for="displayName" class="form-label">
                                                                Descrição
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.descricao" type="text"
                                                                ng-class="{'is-invalid': !$ctrl._editCategoria.descricao || $ctrl._editCategoria.descricao.trim() === ''}"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                EAN
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.ean" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Ativo
                                                            </label>
                                                            <select ng-model="$ctrl._editCategoria.ativo"
                                                                class="form-select flex-grow-1" id="basicSelect"
                                                                aria-label="Basic select example">
                                                                <option value="0">Não</option>
                                                                <option value="1">Sim</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-sm-4">
                                                            <label for="displayName" class="form-label">
                                                                Categoria Padrão
                                                            </label>
                                                            <select ng-model="$ctrl._editCategoria.id_nivel_cat1"
                                                                class="form-select flex-grow-1" id="basicSelect"
                                                                aria-label="Basic select example">
                                                                <option value="0">Nenhuma</option>
                                                                <option ng-repeat="item in $ctrl._listCategoriasItem" value="{{ item._id }}">
                                                                    {{ item.descricao }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-3 mt-4">
                                                        <div class="col-sm-12 col-12">
                                                            <div
                                                                class="bg-primary bg-opacity-10 text-primary p-2 rounded-2">
                                                                <p class="m-0">
                                                                    Informações adicionais sobre o {{ $ctrl._regConta.params_nomenclatura_itens.itens }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row gx-3 mb-3 mt-2">
                                                        <div class="col-sm-12 col-12">
                                                            <div
                                                                class="bg-light bg-opacity-10 text-light p-2 rounded-2">
                                                                <p class="m-0">
                                                                    Esses labels serão utilizados como nomes dos campos
                                                                    exibidos no cadastro de {{ $ctrl._regConta.params_nomenclatura_itens.sku }}.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-1">
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 1
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf1" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 2
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf2" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 3
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf3" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 4
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf4" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-3 mt-4">
                                                        <div class="col-sm-12 col-12">
                                                            <div
                                                                class="bg-primary bg-opacity-10 text-primary p-2 rounded-2">
                                                                <p class="m-0">
                                                                    Valores Padrão para os labels	
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row gx-3 mb-3 mt-2">
                                                        <div class="col-sm-12 col-12">
                                                            <div
                                                                class="bg-light bg-opacity-10 text-light p-2 rounded-2">
                                                                <p class="m-0">
                                                                    São valores padrões que serão utilizados no cadastros de SKUs associados a esta {{ $ctrl._regConta.params_nomenclatura_itens.sku }}.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Valor 1
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.valor_labelInf1" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Valor 2
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.valor_labelInf2" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Valor 3
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.valor_labelInf3" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Valor 4
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.valor_labelInf4" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>

                                                    

                                                    <div class="row gx-3 mb-0">
                                                        <div class="col-sm-12">
                                                            <label for="displayName" class="form-label">
                                                                Observações
                                                            </label>
                                                            <textarea ng-model="$ctrl._editCategoria.observacao"
                                                                class="form-control mb-3" rows="3">
                                                            </textarea>
                                                        </div>
                                                    </div>

                                                    <!-- Row end -->

                                                </div>
                                            </div>
                                            <!-- Row end -->

                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-sm-12">

                                        <div class="row gx-3 mb-3">
                                            <div class="col-sm-12 col-12">
                                                <div class="bg-warning bg-opacity-10 text-warning p-2 rounded-2">
                                                    <p class="m-0">
                                                        Endereço de Destino Previsto
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group">
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.1
                                                </div>
                                                <select ng-model="$ctrl._editCategoria.id_nivel_loc1"
                                                    ng-change="$ctrl.onCarregaNiveis('02')"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option value="">Todos</option>
                                                    <option ng-repeat="item in $ctrl._listNivel1"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.2
                                                </div>
                                                <select ng-model="$ctrl._editCategoria.id_nivel_loc2"
                                                    ng-disabled="$ctrl._editCategoria.id_nivel_loc1==''"
                                                    ng-change="$ctrl.onCarregaNiveis('03')"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option value="">Todos</option>
                                                    <option ng-repeat="item in $ctrl._listNivel2"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.3
                                                </div>
                                                <select ng-model="$ctrl._editCategoria.id_nivel_loc3"
                                                    ng-disabled="!$ctrl._editCategoria.id_nivel_loc2"
                                                    ng-change="$ctrl.onCarregaNiveis('04')"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option ng-repeat="item in $ctrl._listNivel3"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.4
                                                </div>
                                                <select ng-model="$ctrl._editCategoria.id_nivel_loc4"
                                                    ng-disabled="!$ctrl._editCategoria.id_nivel_loc3"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option ng-repeat="item in $ctrl._listNivel4"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>







                                </div>
                                <!-- Row end -->

                            </div>
                            <div class="tab-pane fade" id="categorias-b" role="tabpanel"
                                aria-labelledby="categorias-b-tab" tabindex="0">

                                <div class="row gx-3">
                                    <div class="col-xxl-3 col-sm-6">
                                        <div class="list-group">
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                    <i class="bi bi-envelope text-primary fs-6"></i>
                                                </div>
                                                <div>
                                                    <h6 class="mb-1">
                                                        Intervalo
                                                    </h6>
                                                </div>
                                                <div class="form-check form-switch m-0 ms-auto">
                                                    <input ng-model="$ctrl._editAssocicao.intervalo" type="number"
                                                        class="form-control text-end">
                                                </div>
                                            </div>
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                    <i class="bi bi-envelope text-primary fs-6"></i>
                                                </div>
                                                <div>
                                                    <h6 class="mb-1">
                                                        Range RSSI
                                                    </h6>
                                                </div>
                                                <div class="form-check form-switch m-0 ms-auto">
                                                    <input ng-model="$ctrl._editAssocicao.range_rssi" type="number"
                                                        class="form-control text-end">
                                                </div>
                                            </div>

                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                    <i class="bi bi-envelope text-primary fs-6"></i>
                                                </div>
                                                <div>
                                                    <h6 class="mb-1">
                                                        Condição de Presença
                                                    </h6>
                                                </div>

                                                <div class="form-check form-switch m-0 ms-auto">
                                                    <select ng-model="$ctrl._editAssocicao.cond_presenca"
                                                        class="form-select select2">
                                                        <option value="todos">
                                                            Todos os  {{ $ctrl._regConta.params_nomenclatura_itens.sku }} associados
                                                        </option>
                                                        <option value="qualquer">
                                                            Qualquer item associado
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                    <i class="bi bi-envelope text-primary fs-6"></i>
                                                </div>
                                                <div>
                                                    <h6 class="mb-1">
                                                        Identificação dos  {{ $ctrl._regConta.params_nomenclatura_itens.sku }}
                                                    </h6>
                                                </div>
                                                <div class="form-check form-switch m-0 ms-auto">
                                                    <select ng-model="$ctrl._regAddAssociacao.id_ref"
                                                        class="form-select select2">
                                                        <option value="generico">
                                                            Genérico
                                                        </option>
                                                        <option value="item">
                                                            {{ $ctrl._regConta.params_nomenclatura_itens.sku }}
                                                        </option>
                                                        <option value="categoria">
                                                            {{ $ctrl._regConta.params_nomenclatura_itens.itens }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div  ng-show="$ctrl._regAddAssociacao.id_ref!='generico'" class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                    <i class="bi bi-envelope text-primary fs-6"></i>
                                                </div>
                                                <select ng-show="$ctrl._regAddAssociacao.id_ref=='item'"
                                                    ng-model="$ctrl._regAddAssociacao.id_item"
                                                    ng-change="$ctrl.onDefineLocal(true)" class="form-select select2">
                                                    <option value="{{ item._id }}" ng-repeat="item in $ctrl._listItens">
                                                        {{ item.id_categoria.descricao |
                                                        limitTo:15
                                                        }}&nbsp;&nbsp;&nbsp;{{ item.tag
                                                        }}
                                                    </option>
                                                </select>
                                                <select ng-show="$ctrl._regAddAssociacao.id_ref=='categoria'"
                                                    ng-model="$ctrl._regAddAssociacao.id_categoria"
                                                    class="form-select select2">
                                                    <option value="{{ item._id }}"
                                                        ng-repeat="item in $ctrl._listCategorias">
                                                        {{ item.descricao | limitTo:15
                                                        }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div ng-show="$ctrl._regAddAssociacao.id_ref!='item'"
                                                class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                    <i class="bi bi-envelope text-primary fs-6"></i>
                                                </div>
                                                <div>
                                                    <h6 class="mb-1">Quantidade </h6>
                                                </div>
                                                <div class="form-check form-switch m-0 ms-auto">
                                                    <input ng-model="$ctrl._regAddAssociacao.quantidade" type="number"
                                                        class="form-control text-end">
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-end gap-1 mt-3">
                                                <button ng-click="$ctrl.onAddAssociacao()" class="btn btn-info"
                                                    type="button">Incluir</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-9 col-sm-6">
                                        <div class="invoice-table-container">
                                            <div class="table-outer">
                                                <div class="table-responsive">
                                                    <table class="table table-hover align-middle mb-1">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" class="w-20">
                                                                    Tag
                                                                </th>
                                                                <th scope="col" class="w-40">
                                                                    Descrição
                                                                </th>
                                                                <th scope="col" class="w-40">
                                                                    Quantidade
                                                                </th>
                                                                <th scope="col">Edição
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                ng-repeat="item in $ctrl._editAssocicao.associados track by $index">

                                                                <td class="text-white fw-semibold">
                                                                    {{
                                                                    $ctrl.idItemDescricao(item.id_item,
                                                                    item.id_categoria,
                                                                    false) }}
                                                                </td>
                                                                <td>
                                                                    {{
                                                                    $ctrl.idItemDescricao(item.id_item,
                                                                    item.id_categoria,
                                                                    true) }}
                                                                    <br>
                                                                    <span ng-show="item.id_item"
                                                                        class="badge bg-info bg-opacity-10 text-info">
                                                                        SKU
                                                                    </span>
                                                                    <span ng-show="item.id_categoria"
                                                                        class="badge bg-success bg-opacity-10 text-success">
                                                                        Item
                                                                    </span>
                                                                    <span ng-show="!item.id_item && !item.id_categoria"
                                                                        class="badge bg-info bg-opacity-10 text-info">
                                                                        Genérico
                                                                    </span>
                                                                </td>

                                                                <td>
                                                                    {{ item.quantidade }}
                                                                </td>

                                                                <td>
                                                                    <div class="d-flex gap-1">
                                                                        <button ng-click=" $ctrl.onEditarAssociacao(item._id)"
                                                                            type="button"
                                                                            class="btn btn-sm btn-outline-primary"
                                                                            data-bs-toggle="tooltip"
                                                                            title="Editar Associação">
                                                                            <i class="bi bi-pencil"></i>
                                                                        </button>
                                                                        <button ng-click=" $ctrl.onApagarAssociacao(item._id)" type="button"
                                                                            class="btn btn-sm btn-outline-primary"
                                                                            data-bs-toggle="tooltip"
                                                                            title="Apagar Associação">
                                                                            <i class="bi bi-trash"></i>
                                                                        </button>

                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="categorias-c" role="tabpanel"
                                aria-labelledby="categorias-c-tab" tabindex="0">

                                <div class="border rounded-2 p-3 mb-3">

                                </div>

                            </div>



                        </div>
                        <!-- Tabs ends -->

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.onExcluir()"  class="btn btn-danger me-3" type="button">Excluir</button>
        <button ng-click="$ctrl.fechar()" class="btn btn-light" type="button">Fechar</button>

        <button ng-click="$ctrl.onSalvar()" class="btn btn-primary" type="button">
            <span role="status">Salvar</span>
            <!-- <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Saving...</span> -->
        </button>
    </div>
</div>