<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel">
            Categoria
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <ol class="breadcrumb d-none d-lg-flex mb-4">
            <li class="breadcrumb-item">
                <i class="bi bi-geo-alt lh-1"></i>
                <a href="index.html" class="text-decoration-none">Categoria</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="index.html" class="text-decoration-none text-info">
                    {{ $ctrl._editCategoria.descricao || 'Novo'}}
                </a>
            </li>
        </ol>

        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">

                        <!-- Tabs starts -->
                        <ul class="nav nav-pills mb-3 gap-1" id="categorias-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill active " id="categorias-a-tab"
                                    data-bs-toggle="pill" data-bs-target="#categorias-a" type="button" role="tab"
                                    aria-controls="categorias-a" aria-selected="true">Cadastro</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button ng-click="$ctrl.onCarregaNiveisPlanta('02')" class="nav-link rounded-pill"
                                    id="categorias-b-tab" data-bs-toggle="pill" data-bs-target="#categorias-b"
                                    type="button" role="tab" aria-controls="categorias-b"
                                    aria-selected="false">Extras</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" id="categorias-c-tab" data-bs-toggle="pill"
                                    data-bs-target="#categorias-c" type="button" role="tab" aria-controls="categorias-c"
                                    aria-selected="false">SKUs</button>
                            </li>

                        </ul>
                        <div class="tab-content" id="categorias-tabContent">
                            <div class="tab-pane fade show active" id="categorias-a" role="tabpanel"
                                aria-labelledby="categorias-a-tab" tabindex="0">

                                <!-- Row start -->
                                <div class="row gx-3">
                                    <div class="col-xxl-6 col-sm-12">
                                        <div class="border rounded-2 p-3 mb-3">

                                            <!-- Row start -->
                                            <div class="row gx-3">
                                                <div class="col-xxl-2 col-sm-4">
                                                    <div class="mb-2">
                                                        <img src="{{ $ctrl._editCategoria._foto }}"
                                                            class="img-fluid rounded-3 border border-2 border-primary"
                                                            style="height: 120px;" alt="Admin Templates">
                                                    </div>
                                                    <button ng-click="$ctrl.onGetFoto()" type="button"
                                                        class="btn btn-primary">Carregar
                                                        Ícone</button>
                                                    <div class="form-text">
                                                        Máximo 1MB
                                                    </div>
                                                    <input type='file' id="imgLogo" style="display:none" />
                                                </div>
                                                <div class="col-xxl-10 col-sm-8">

                                                    <!-- Row start -->
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-sm-6">
                                                            <label for="displayName" class="form-label">
                                                                Descrição
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.descricao" type="text"
                                                                ng-class="{'is-invalid': !$ctrl._editCategoria.descricao || $ctrl._editCategoria.descricao.trim() === ''}"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                EAN
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.ean" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Ativo
                                                            </label>
                                                            <select ng-model="$ctrl._editCategoria.ativo"
                                                                class="form-select flex-grow-1" id="basicSelect"
                                                                aria-label="Basic select example">
                                                                <option value="0">Não</option>
                                                                <option value="1">Sim</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-3 mt-4">
                                                        <div class="col-sm-12 col-12">
                                                            <div
                                                                class="bg-primary bg-opacity-10 text-primary p-2 rounded-2">
                                                                <p class="m-0">
                                                                    Informações adicionais sobre a categoria
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-1">
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 1
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf1" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 2
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf2" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 3
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf3" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Label 4
                                                            </label>
                                                            <input ng-model="$ctrl._editCategoria.labelInf4" type="text"
                                                                class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-3 mt-2">
                                                        <div class="col-sm-12 col-12">
                                                            <div
                                                                class="bg-light bg-opacity-10 text-light p-2 rounded-2">
                                                                <p class="m-0">
                                                                    Esses labels serão utilizados como nomes dos campos exibidos no cadastro de Itens.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-0">
                                                        <div class="col-sm-12">
                                                            <label for="displayName" class="form-label">
                                                                Observações
                                                            </label>
                                                            <textarea ng-model="$ctrl._editCategoria.observacao"
                                                                class="form-control mb-3" rows="3">
                                                            </textarea>
                                                        </div>
                                                    </div>

                                                    <!-- Row end -->

                                                </div>
                                            </div>
                                            <!-- Row end -->

                                        </div>
                                    </div>








                                </div>
                                <!-- Row end -->

                            </div>
                            <div class="tab-pane fade" id="categorias-b" role="tabpanel"
                                aria-labelledby="categorias-b-tab" tabindex="0">

                                <div class="row gx-3">
                                    <div class="col-sm-3">
                                        <div class="border rounded-2 p-3 mb-3">
                                            <div class="list-group">

                                                <div class="list-group-item d-flex align-items-center gap-3">
                                                    <div
                                                        class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                        <i class="bi bi-hdd-network text-primary fs-5"></i>
                                                    </div>

                                                    <div>
                                                        <h6 class="mb-1">Distanciar</h6>
                                                        <p class="m-0 text-muted">Após X.dB do gateway </p>
                                                    </div>

                                                    <div class="form-check form-switch m-0 ms-auto">
                                                        <input class="form-check-input" type="checkbox" role="switch"
                                                            id="n2" checked=""
                                                            title="Enable or disable messages notifications">
                                                    </div>
                                                </div>
                                                <div class="list-group-item d-flex align-items-center gap-3">
                                                    <div
                                                        class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                        <i class="bi bi-hdd-network text-primary fs-5"></i>
                                                    </div>

                                                    <div>
                                                        <h6 class="mb-1">Aproximar</h6>
                                                        <p class="m-0 text-muted">Após X.dB do gateway</p>
                                                    </div>

                                                    <div class="form-check form-switch m-0 ms-auto">
                                                        <input class="form-check-input" type="checkbox" role="switch"
                                                            id="n2" checked=""
                                                            title="Enable or disable messages notifications">
                                                    </div>
                                                </div>
                                                <div class="list-group-item d-flex align-items-center gap-3">
                                                    <div
                                                        class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                        <i class="bi bi-hdd-network text-primary fs-5"></i>
                                                    </div>

                                                    <div>
                                                        <h6 class="mb-1">Tolerância</h6>
                                                        <p class="m-0 text-muted">Tempo (min) aceito sem leitura</p>
                                                    </div>

                                                    <div class="form-check form-switch m-0 ms-auto">
                                                        <input class="form-check-input" type="checkbox" role="switch"
                                                            id="n2" checked=""
                                                            title="Enable or disable messages notifications">
                                                    </div>
                                                </div>
                                                <div class="list-group-item d-flex align-items-center gap-3">
                                                    <div
                                                        class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                        <i class="bi bi-qr-code text-success fs-5"></i>
                                                    </div>

                                                    <div>
                                                        <h6 class="mb-1">Ação</h6>
                                                        <p class="m-0 text-muted">Oque será realizado</p>
                                                    </div>

                                                    <select ng-model="$ctrl._editCategoria.status"
                                                        class="form-select flex-grow-1 text-end w-auto ms-auto"
                                                        id="basicSelect" aria-label="Basic select example"
                                                        style="max-width: 150px;">
                                                        <option value="ativo">Apenas Registrar</option>
                                                        <option value="emtransporte">Tag Inteligente</option>
                                                        <option value="inativo">Disp. Tuya</option>
                                                    </select>


                                                    <!-- <input ng-model="$ctrl._editAP.mac" type="text"
                                                        ng-class="{'is-invalid': !$ctrl._editAP.mac || $ctrl._editAP.mac.trim() === ''}"
                                                        mask="99:99:99:99:99:99"
                                                        class="form-control text-end w-auto ms-auto"
                                                        style="max-width: 150px;"> -->
                                                </div>
                                                <div ng-show="$ctrl._editApModo"
                                                    class="list-group-item d-flex align-items-center gap-3">
                                                    <div
                                                        class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                        <i class="bi bi-wifi text-info fs-5"></i>
                                                    </div>

                                                    <div>
                                                        <h6 class="mb-1">RSSI</h6>
                                                        <p class="m-0 text-muted">Potência de referência</p>
                                                    </div>

                                                    <input ng-model="$ctrl._editAP.rssi" type="text"
                                                        ng-class="{'is-invalid': !$ctrl._editAP.rssi || $ctrl._editAP.rssi.trim() === ''}"
                                                        class="form-control text-end w-auto ms-auto"
                                                        style="max-width: 100px;">
                                                </div>
                                                <div ng-show="$ctrl._editApModo"
                                                    class="list-group-item d-flex align-items-center gap-3">
                                                    <div
                                                        class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                        <i class="bi bi-broadcast-pin text-warning fs-5"></i>
                                                    </div>

                                                    <div>
                                                        <h6 class="mb-1">Range Potência</h6>
                                                        <p class="m-0 text-muted">Considerado para menos ou mais</p>
                                                    </div>

                                                    <input ng-model="$ctrl._editAP.range" type="text"
                                                        class="form-control text-end w-auto ms-auto"
                                                        style="max-width: 100px;">
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="categorias-c" role="tabpanel"
                                aria-labelledby="categorias-c-tab" tabindex="0">

                                <div class="border rounded-2 p-3 mb-3">

                                </div>

                            </div>



                        </div>
                        <!-- Tabs ends -->

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger me-3" type="button">Excluir</button>
        <button ng-click="$ctrl.fechar()" class="btn btn-light" type="button">Fechar</button>

        <button ng-click="$ctrl.onSalvar()" class="btn btn-primary" type="button">
            <span role="status">Salvar</span>
            <!-- <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Saving...</span> -->
        </button>
    </div>
</div>