<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel">
            Gateway
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <ol class="breadcrumb d-none d-lg-flex mb-4">
            <li class="breadcrumb-item">
                <i class="bi bi-geo-alt lh-1"></i>
                <a href="index.html" class="text-decoration-none">Gateway</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="index.html" class="text-decoration-none text-info">
                    {{ $ctrl._editGateway.descricao || 'Novo'}}
                </a>
            </li>
        </ol>

        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">

                        <!-- Tabs starts -->
                        <ul class="nav nav-pills mb-3 gap-1" id="gateways-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill active " id="gateways-a-tab" data-bs-toggle="pill"
                                    data-bs-target="#gateways-a" type="button" role="tab" aria-controls="gateways-a"
                                    aria-selected="true">Cadastro</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" id="gateways-b-tab" data-bs-toggle="pill"
                                    data-bs-target="#gateways-b" type="button" role="tab" aria-controls="gateways-b"
                                    aria-selected="false">Coletor</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" id="gateways-c-tab" data-bs-toggle="pill"
                                    data-bs-target="#gateways-c" type="button" role="tab" aria-controls="gateways-c"
                                    aria-selected="false">Movimentação</button>
                            </li>

                        </ul>
                        <div class="tab-content" id="gateways-tabContent">
                            <div class="tab-pane fade show active" id="gateways-a" role="tabpanel"
                                aria-labelledby="gateways-a-tab" tabindex="0">

                                <!-- Row start -->
                                <div class="row gx-3">
                                    <div class="col-xxl-6 col-sm-12">
                                        <div class="border rounded-2 p-3 mb-3">

                                            <!-- Row start -->
                                            <div class="row gx-3">
                                                <div class="col-xxl-2 col-sm-4">
                                                    <div class="mb-2">
                                                        <img src="{{ $ctrl._editGateway._foto }}"
                                                            class="img-fluid rounded-3 border border-2 border-primary"
                                                            style="height: 120px;" alt="Admin Templates">
                                                    </div>
                                                    <button ng-click="$ctrl.onGetFoto()" type="button"
                                                        class="btn btn-primary">Carregar
                                                        Ícone</button>
                                                    <div class="form-text">
                                                        Máximo 1MB
                                                    </div>
                                                    <input type='file' id="imgLogo" style="display:none" />
                                                </div>
                                                <div class="col-xxl-10 col-sm-8">

                                                    <!-- Row start -->
                                                    <div class="row gx-3 mb-3">
                                                        <div class="col-sm-6">
                                                            <label for="displayName" class="form-label">
                                                                Descrição
                                                            </label>
                                                            <input ng-model="$ctrl._editGateway.descricao" type="text"
                                                                ng-class="{'is-invalid': !$ctrl._editGateway.descricao || $ctrl._editGateway.descricao.trim() === ''}"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Tokem
                                                            </label>
                                                            <input ng-model="$ctrl._editGateway.tokem" type="text"
                                                                ng-class="{'is-invalid': !$ctrl._editGateway.tokem || $ctrl._editGateway.tokem.trim() === ''}"
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                Ativo
                                                            </label>
                                                            <select ng-model="$ctrl._editGateway.ativo"
                                                                class="form-select flex-grow-1" id="basicSelect"
                                                                aria-label="Basic select example">
                                                                <option value="0">Não</option>
                                                                <option value="1">Sim</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row gx-3 mb-4">
                                                        <div class="col-sm-3">
                                                            <label for="displayName" class="form-label">
                                                                iD Colaborador
                                                            </label>
                                                            <select ng-model="$ctrl._editGateway.id_colaborador_gateway"
                                                                class="form-select flex-grow-1" id="basicSelect"
                                                                aria-label="Basic select example">
                                                                <option value="sem_id">Sem Identificação</option>
                                                                <option value="login_app">Login App</option>
                                                                <option value="pre_vinc">Pré Vinculado</option>
                                                            </select>
                                                        </div>
                                                        <div ng-show="$ctrl._editGateway.id_colaborador_gateway=='pre_vinc'"
                                                            class="col-sm-6">
                                                            <label for="displayName" class="form-label">
                                                                Colaborador
                                                            </label>
                                                            <select ng-model="$ctrl._editGateway.id_colaborador"
                                                                class="form-select flex-grow-1" id="basicSelect"
                                                                aria-label="Basic select example">
                                                                <option ng-repeat="item in $ctrl._listColaboradores"
                                                                    value="{{ item._id }}">
                                                                    {{ item.nome }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row gx-3 mb-0">
                                                        <div class="col-sm-12">
                                                            <label for="displayName" class="form-label">
                                                                Observações
                                                            </label>
                                                            <textarea ng-model="$ctrl._editGateway.observacao"
                                                                class="form-control mb-3" rows="6">
                                                            </textarea>
                                                        </div>
                                                    </div>

                                                    <!-- Row end -->

                                                </div>
                                            </div>
                                            <!-- Row end -->

                                        </div>
                                    </div>

                                    <div class="col-xxl-3 col-sm-12">

                                        <div class="row gx-3 mb-3">
                                            <div class="col-sm-12 col-12">
                                                <div class="bg-primary bg-opacity-10 text-primary p-2 rounded-2">
                                                    <p class="m-0">
                                                        Alocação dos Itens Lidos
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group">
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3">
                                                    <i class="bi bi-hdd-network text-primary fs-5"></i>
                                                </div>

                                                <div>
                                                    <h6 class="mb-1">Gateway Fixo</h6>
                                                    <p class="m-0 text-muted">Não busca por localização</p>
                                                </div>

                                                <div class="form-check form-switch m-0 ms-auto">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        ng-model="$ctrl._modoFixo" ng-change="$ctrl.onMudaModo()">
                                                </div>
                                            </div>

                                            <div ng-show="$ctrl._editGateway.modo=='fixo'"
                                                class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.1
                                                </div>
                                                <select ng-model="$ctrl._editGateway.id_nivel_loc1"
                                                    ng-change="$ctrl.onCarregaNiveis('02')"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option value=""></option>
                                                    <option ng-repeat="item in $ctrl._listNivel1"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div ng-show="$ctrl._editGateway.modo=='fixo'"
                                                class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.2
                                                </div>
                                                <select ng-model="$ctrl._editGateway.id_nivel_loc2"
                                                    ng-disabled="$ctrl._editGateway.id_nivel_loc1==''"
                                                    ng-change="$ctrl.onCarregaNiveis('03')"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option value=""></option>
                                                    <option ng-repeat="item in $ctrl._listNivel2"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div ng-show="$ctrl._editGateway.modo=='fixo'"
                                                class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.3
                                                </div>
                                                <select ng-model="$ctrl._editGateway.id_nivel_loc3"
                                                    ng-disabled="!$ctrl._editGateway.id_nivel_loc2"
                                                    ng-change="$ctrl.onCarregaNiveis('04')"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option value=""></option>
                                                    <option ng-repeat="item in $ctrl._listNivel3"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div ng-show="$ctrl._editGateway.modo=='fixo'"
                                                class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-primary bg-opacity-10 text-primary rounded-3 text-center px-3 py-2">
                                                    N.4
                                                </div>
                                                <select ng-model="$ctrl._editGateway.id_nivel_loc4"
                                                    ng-disabled="!$ctrl._editGateway.id_nivel_loc3"
                                                    class="form-select flex-grow-1" id="basicSelect"
                                                    aria-label="Basic select example">
                                                    <option value=""></option>
                                                    <option ng-repeat="item in $ctrl._listNivel4"
                                                        value="{{ item._id }}">
                                                        {{ item.descricao }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="$ctrl._editGateway.modo=='fixo'" class="col-xxl-3 col-sm-12">

                                        <div class="row gx-3 mb-3">
                                            <div class="col-sm-12 col-12">
                                                <div class="bg-success bg-opacity-10 text-success p-2 rounded-2">
                                                    <p class="m-0">
                                                        Coordenadas GPS
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group">
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-success bg-opacity-10 text-success rounded-3 text-center px-3 py-2">
                                                    Lat.
                                                </div>
                                                <input ng-model="$ctrl._editGateway.latitude" type="text"
                                                    class="form-control">


                                            </div>
                                            <div class="list-group-item d-flex align-items-center gap-3">
                                                <div
                                                    class="icon-box md bg-success bg-opacity-10 text-success rounded-3 text-center px-3 py-2">
                                                    Lng.
                                                </div>
                                                <input ng-model="$ctrl._editGateway.longitude" type="text"
                                                    class="form-control">
                                            </div>

                                        </div>

                                        <div class="row gx-3 mb-3 mt-2">
                                            <div class="col-sm-12 col-12">
                                                <div class="bg-light bg-opacity-10 text-light p-2 rounded-2">
                                                    <p class="m-0">
                                                        Serão utilizadas essas cordendas, caso o gateway não tenha
                                                        sinal GPS.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <!-- Row end -->

                            </div>
                            <div class="tab-pane fade" id="gateways-b" role="tabpanel" aria-labelledby="gateways-b-tab"
                                tabindex="0">

                                <div class="row gx-3">
                                    <div class="col-sm-6">
                                        <div class="border rounded-2 p-3 mb-3">
                                            <div class="row gx-3 mb-3">
                                                <div class="col-sm-4">
                                                    <label for="displayName" class="form-label">
                                                        Equipamento
                                                    </label>
                                                    <select ng-model="$ctrl._editGateway.leitor"
                                                        class="form-select flex-grow-1" id="basicSelect"
                                                        aria-label="Basic select example">
                                                        <option value="beacon">Beacons</option>
                                                        <option value="icard">iCard RFID</option>
                                                        <option value="midleware">Midleware Desktop</option>
                                                        <option value="LLRP">Leitor LLRP</option>
                                                        <option value="BT900">Acura BT-900</option>
                                                        <option value="IP30">Intermec IP30</option>
                                                        <option value="RFD8500BAR">Zebra RFD8500 Barcode</option>
                                                        <option value="RFD8500">Zebra RFD8500</option>
                                                        <option value="BTL1000">Acura BTL-1000</option>
                                                        <option value="DCE">Leitor DCE</option>
                                                        <option value="RFD40">Zebra RFD40/RFD90</option>
                                                        <option value="RFD2000">Zebra RFD2000/TC20</option>
                                                        <option value="MC33">Zebra MC33</option>
                                                        <option value="RFD90ECONNEX">Zebra RFD40/RFD90 eConnex</option>
                                                        <option value="RFR900SERIAL">Bluebird RFR900 Serial</option>
                                                        <option value="RFR900">Bluebird RFR900 Bluetooth</option>
                                                        <option value="IC71">Chainway IC71</option>
                                                        <option value="R6">Chainway R6</option>
                                                        <option value="CS108">CSL CS108</option>
                                                        <option value="IH25">Intermec IH25</option>
                                                        <option value="AUTOID9U">AUTOID9U</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="displayName" class="form-label">
                                                        MAC
                                                    </label>
                                                    <input ng-model="$ctrl._editGateway.leitor_mac" type="text"
                                                        ng-class="{'is-invalid': !$ctrl._editGateway.leitor_mac || $ctrl._editGateway.leitor_mac.trim() === ''}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                                <div class="col-sm-4">
                                                    <label for="displayName" class="form-label">
                                                        Potência
                                                    </label>
                                                    <select ng-model="$ctrl._editGateway.leitor_potencia"
                                                        class="form-select flex-grow-1" id="basicSelect"
                                                        aria-label="Basic select example">
                                                        <option value="14">14db</option>
                                                        <option value="15">15db</option>
                                                        <option value="16">16db</option>
                                                        <option value="17">17db</option>
                                                        <option value="18">18db</option>
                                                        <option value="19">19db</option>
                                                        <option value="20">20db</option>
                                                        <option value="21">21db</option>
                                                        <option value="22">22db</option>
                                                        <option value="23">23db</option>
                                                        <option value="24">24db</option>
                                                        <option value="25">25db</option>
                                                        <option value="26">26db</option>
                                                        <option value="27">27db</option>
                                                        <option value="28">28db</option>
                                                        <option value="29">29db</option>
                                                        <option value="30">30db</option>
                                                        <option value="31">31db</option>
                                                        <option value="32">32db</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="displayName" class="form-label">
                                                        Seção
                                                    </label>
                                                    <select ng-model="$ctrl._editGateway.leitor_secao"
                                                        class="form-select flex-grow-1" id="basicSelect"
                                                        aria-label="Basic select example">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="displayName" class="form-label">
                                                        Estado
                                                    </label>
                                                    <select ng-model="$ctrl._editGateway.leitor_estado"
                                                        class="form-select flex-grow-1" id="basicSelect"
                                                        aria-label="Basic select example">
                                                        <option value="a">A</option>
                                                        <option value="b">B</option>
                                                        <option value="ab">A ~ B</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                                <div class="col-sm-4">
                                                    <label for="displayName" class="form-label">
                                                        Codifição EPC
                                                    </label>
                                                    <select ng-model="$ctrl._editGateway.codif_epc"
                                                        class="form-select flex-grow-1" id="basicSelect"
                                                        aria-label="Basic select example">
                                                        <option value="manual">Manual</option>
                                                        <option value="gtim">GTim</option>
                                                        <option value="sgtim">sGtim</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2" ng-show="$ctrl._editGateway.codif_epc=='manual'">
                                                    <label for="displayName" class="form-label">
                                                        Posição Inicial
                                                    </label>
                                                    <input ng-model="$ctrl._editGateway.codif_epc_inicial" type="text"
                                                        ng-class="{'is-invalid': !$ctrl._editGateway.descricao || $ctrl._editGateway.descricao.trim() === ''}"
                                                        class="form-control">
                                                </div>
                                                <div class="col-sm-2" ng-show="$ctrl._editGateway.codif_epc=='manual'">
                                                    <label for="displayName" class="form-label">
                                                        Comprimento
                                                    </label>
                                                    <input ng-model="$ctrl._editGateway.codif_epc_comprimento"
                                                        type="text"
                                                        ng-class="{'is-invalid': !$ctrl._editGateway.descricao || $ctrl._editGateway.descricao.trim() === ''}"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="gateways-c" role="tabpanel" aria-labelledby="gateways-c-tab"
                                tabindex="0">

                                <div class="border rounded-2 p-3 mb-3">

                                </div>

                            </div>



                        </div>
                        <!-- Tabs ends -->

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger me-3" type="button">Excluir</button>
        <button ng-click="$ctrl.fechar()" class="btn btn-light" type="button">Fechar</button>

        <button ng-click="$ctrl.onSalvar()" class="btn btn-primary" type="button">
            <span role="status">Salvar</span>
            <!-- <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Saving...</span> -->
        </button>
    </div>
</div>